.parallax {
  /* The image used */
  background-image: url("../background_2.png");

  /* Set a specific height */
  min-height: 75vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}

h1{
vertical-align: middle;
text-align: center;
padding-top:10vh;
padding-bottom: 10vh;
color: white;
font-size: 50pt;
font-family: 'Raleway', 'Segoe UI Light', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: normal;
margin: 0px;
position: sticky;
opacity: 100%;
}
p{  vertical-align: middle;
text-align: center;
color: white;
font-size: 20pt;
font-family: 'Montserrat', 'Segoe UI Light', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-bottom: 20vh;
opacity: 100%;


}
body{
padding: 0px;
margin: 0px;
}
.opening{
background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(95, 95, 95,0.1));
padding:0;
height: 100vh;
}
ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 50%;

  top: 0;
}

li {
  text-transform: uppercase;
}
li img{
float:left;
display: block; 
padding: 0.5% 1.5%;
text-decoration: none;
height: 15vh;
top: 0;
}
li a {
float: right;
display: block; 
color: white;
text-align: center;
font-size: 12pt;
padding: 1vh 1vw;
text-decoration: none;
font-family: 'Montserrat','Segoe UI', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: lighter;
transition: all .25s ease;
top: 0;
padding-top: 5vh;
}
.card{
background-color: white;
height: 62.5vh;
padding: 2%;
padding-top: 5vh;
padding-bottom: 5vh;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
  color: 	rgb(24,24,24);
}
div.left{
float: left;

}
.black{
color: black;
}
div.right{
float:right;
height: 25vh;
width: 50vw;
}
div.rightthree{
float:right;
height: 25vh;
width: 50vw;
}
h1.black{
font-size: 37.5pt;
padding: 0px;
padding-top: 5vh;
padding-bottom: 5vh;
text-transform: uppercase;
font-weight: bold;
}
h1.blacktwo{
font-size: 37.5pt;
padding: 0px;
padding-top: 5vh;
padding-bottom: 5vh;
text-transform: uppercase;
font-weight: bold;
color:black;
}
p.black{
font-size: 14pt;
padding: 0px;
font-weight: 300;
padding-left: 5vh;
padding-right: 5vh;
}

img.left{
height: 49vh;
width: 40vw;
max-width: 200vh;
border-radius: 0.5vw;
}

div.twoleft{
height: 5vh;
width: 50vw;
float: left;
}
div.tworight{
float: right;
}
div.final{
height: 100vh;
width: 95vw;
background-color: rgba(0, 0, 0, 0.1);
padding: 6vh;
padding-top: 5vh;
padding-left: 10vh;
background-image: url(../back.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 0px;
border-radius: 1vw;
}
div#buy{
width: 85vw;
height: 92.5vh;
background-color: rgb(30, 30, 30);
border-radius: 0.5vw;
padding-left: 15vw;
padding-right: 15vw;
}
h1#buyscreen{
padding-top: 2vh;
text-transform: uppercase;
padding-bottom: 0rem;
text-align: center;
font-family: Anton;
}
div.button{
width: 10rem;
padding: 1rem;
border-color: orange;
border-width: 0.1vh;
border-style: solid;
color: orange;
font-family: Montserrat;
text-transform: uppercase;
font-weight: 200;
font-size: 17.5pt;
text-align: center;
display: inline;
margin-right: 6.25vw;
transition: all .25s ease;
border-radius: 0.5vw;
}
div.button:hover{
background-color: orange;
color: white;
}
a.bu{
color: orange;
font-family: Montserrat;
text-transform: uppercase;
font-weight: lighter;
text-decoration: none;
transition: all .125s ease;
}
a.bu:hover{
color: white;
}
div.buttontwo{
width: 10rem;
padding: 1rem;
border-color: orange;
border-width: 0.05rem;
border-style: solid;
color: orange;
font-family: Montserrat;
text-transform: uppercase;
font-weight: 200;
font-size: 17.5pt;
text-align: center;
display: inline;
margin-left:6.25vw;
transition: all .25s ease;
border-radius: 0.5vw;
}
div.buttontwo:hover{
background-color: orange;
color: white;
}
div.buttons{
padding-left:35vw;
padding-bottom: 10%;
}
img#steam{
height: 13.5vh;

border-radius: 1vw;
margin-right: 3vw;
}
img#ps4{
height:12.5vh;
border-radius: 1vw;
margin-right: 3vw;
}
img#xbox{
height: 6vw;
border-radius: 1vw;
}
p#available{
font-family: 'Roboto Condensed';
padding: 0px;
padding-bottom: 2vh;
}
img#box{
  height:40vh;
  padding-left:45vh;
  padding-right: 17.5rem; 
}
* {
box-sizing: border-box;
}